* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/*--------------------------header--------------------------------*/


/*-----------------------home-----------------------*/

a{
  text-decoration: none;
  color: black;
}
ul li{
  list-style: none;
}
.home{
  background-color: cornflowerblue;
  height: 87vh;
}
footer{
  text-align: center;
}